<div class="mt-4" [formGroup]="checkOutForm">

  <div class="d-flex justify-content-between align-items-center">
    <h4>Shipping Address</h4>
    <button class="btn btn-outline-success"
    (click)="saveUserAddress()"
    [disabled]="!checkOutForm.get('addressForm')?.valid ||
                !checkOutForm.get('addressForm')?.dirty">
      Save as default address
    </button>
  </div>

  <div class="row" formGroupName="addressForm">
   <div class="form-group col-6">
       <app-text-input [lable]="'First Name'" formControlName="firstName"></app-text-input>
   </div>
   <div class="form-group col-6">
    <app-text-input [lable]="'Last Name'" formControlName="lasttName"></app-text-input>
</div>
<div class="form-group col-6">
  <app-text-input [lable]="'Street'" formControlName="streat"></app-text-input>
</div>

<div class="form-group col-6">
  <app-text-input [lable]="'City'" formControlName="city"></app-text-input>
</div>
<div class="form-group col-6">
  <app-text-input [lable]="'State'" formControlName="state"></app-text-input>
</div>

<div class="form-group col-6">
  <app-text-input [lable]="'Zip Code'" formControlName="zipCode"></app-text-input>
</div>

  </div>
</div>


<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-1 mt-4">
  <button class="btn btn-outline-primary" routerLink="/basket">
    <i class="fa fa-angle-left"></i> Back To Basket
  </button>

  <button [disabled]="checkOutForm.get('addressForm')?.invalid" class="btn btn-primary" cdkStepperNext>
   Go To Delivery <i class="fa fa-angle-right"></i>
  </button>
</div>
