<!-- <ng-container *ngIf="(breadcrum |async) as breadcrums"> -->

<!-- <section  *ngIf="breadcrums.length > 0 && breadcrums[breadcrums.length -1 ].lable !=='Home'  " class="py-5" style="margin-top: 80px; background-color:#f5f5f5 ;"> -->
  <section   class="py-5" style="margin-top: 80px; background-color:#f5f5f5 ;">

  <div class="container ">
   <div class="row d-flex align-items-center">

    <div class="col-9">
      <h1>This Title Pge</h1>

       <!-- <h1>{{breadcrums.length >0 && breadcrums[breadcrums.length-1].lable | titlecase}}</h1> -->
    </div>
    <div class="col-3">
     
      <!-- <xng-breadcrumb>
    
      </xng-breadcrumb> -->
      <!-- <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb> -->
      <!-- <xng-breadcrumb></xng-breadcrumb> -->

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
      </nav>
    </div>

   </div>
  </div>
</section>
<!-- </ng-container> -->
